body {
  background-color: lightblue;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.form-container {
  width: 50%;
  margin: 70px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #ffffff;
  font-family: sans-serif;
}
.form-container h1 {
   display: flex;
  color: blue;
  margin-bottom: 50px;
  font-weight: 100;
  
}
.form-container input.input {
  border: none;
  width: 40%;
  padding: 12px 14px;
  margin-bottom: 20px;
  font-size: 18px;
  background-color: rgba(163, 153, 199, 0.527);
  border-radius: 5px;
}
.form-container .address {
  margin-bottom: 18px;
  border: none;
  border-radius: 5px;
  width: 87%;
  height: 40px;
  padding: 12px 14px;
  font-size: 18px;
  background-color: rgba(163, 153, 199, 0.712);
}
.form-container .text {
  border-radius: 5px;
  border: none;
  width: 92%;
  height: 90px;
  font-size: 18px;
  resize: none;
  background-color: rgb(163, 153, 199);
}
.login-form {
    text-align: center;
  width: 500px;
}
.form-container .submit .button {
    margin-top: 20px;
  background-color: blue;
  color: white;
  border: none;
  width: 140px;
  line-height: 40px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
.form-container p {
    display: flex;
  color: darkseagreen;
  margin-right: 60%;
}
.form-container ::placeholder{
    color: blue;
}
