.html,body{
    background-color: rgb(53, 68, 68);
}
.a{
    float: left;
    height: 250px;
    width: 250px;
}
.b{
    float: right;
    height: 250px;
    width: 250px;
}
.c{
    float: left;
    height: 250px;
    width: 250px;
}
.d{
    float: right;
    height: 250px;
    width: 250px;
}
.f{
    float: left;
    height: 250px;
    width: 250px;
}
.g{
    float: right;
    height: 250px;
    width: 250px;
}
.p1{
    background-color: rgb(211, 69, 26);

}
.p2{
    background-color: rgb(0, 162, 255);

}
.p3{
    background-color: rgb(174, 0, 255);

}
.p4{
    background-color: rgb(0, 38, 255);

}
.p5{
    background-color: rgb(255, 72, 0);

}
.p6{
    background-color: rgb(238, 255, 0);

}
.ha1{
   color: chocolate;
}
.ha2{
    color: chocolate;
}
.ha3{
    color: chocolate;
}
.ha4{
    color: crimson;
}
.ha5{
    color: crimson;
}
.ha6{
    color: crimson;
}