#desimta{
    background-color: darkgray;
    color: black;
    width: 150px;
    height: 150px;
}
#vienuolikta {
    background-color: blanchedalmond;
    color: black;
    width: 150px;
    height: 150px;
}