.nuotrauka{
    width: 32%;
    height:200px;
    background-position: center;
    background-size: cover;
    display: inline-table;
    border: 5px solid rgb(131, 38, 38);
    

    
    
}
.pirma {
    background-image: url("./img/9.jpeg");
}
.antra {
    background-image: url("./img/download\ \(1\).jpeg");
}
.trecia {
    background-image: url("./img/download\ \(2\).jpeg");
}